<div class="container">
  <div class="alert alert-info" role="alert" *ngIf="!userToEdit">
    Users created this way will have a default password. The default password is the username.
  </div>
  <form [formGroup]="form" (submit)="addUser()" class="form-horizontal">
    <div *ngFor="let error of errors" class="alert alert-danger">
      {{error}}
    </div>

    <div class="form-group row">
      <label for="username" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="username" name="username" [attr.disabled]="userToEdit ? '' : null" required autofocus>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" formControlName="email" name="email" required>
      </div>
    </div>

    <button class="btn btn-primary float-right" type="submit">{{userToEdit ? "Edit user" : "Add user"}}</button>
  </form>
</div>