<ng-template #createOrEditTodo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create a new todo</h4>
    </div>
    <app-todo-add [userId]="userId" class="m-3"></app-todo-add>
</ng-template>

<button class="btn btn-primary" (click)="showTodoModal(createOrEditTodo, null)">Add todo</button>

<div class="todo-container">
    <span *ngFor="let todo of todos" (click)="showTodoModal(createOrEditTodo, todo)">
        <app-todo-card [model]="todo"></app-todo-card>

    </span>
</div>