@import "src/variables.scss";

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: $header-padding 0rem;
  z-index: 999;
  background-color: rgba(black, 0.9);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $medium-breakpoint) {
    justify-content: space-between;
  }

  &>.logo-image {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 50vw;
    width: 13rem;
    cursor: pointer;
  }
}

// --------------------
// Navigation and menu styles
// --------------------

header .menu-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $medium-breakpoint) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.93);

    &.mobile-menu-open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &>.menu-point {
    margin: 0rem 1rem;
    padding: 0.5rem 0.7rem;

    color: $light-color;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: rgba(black, 0.4) 0px 0px 2px;

    @media only screen and (max-width: $medium-breakpoint) {
      padding: 0.675rem;
      font-size: large;
      width: 70vw;
    }
  }
}

header .page-title-button {
  font-size: x-large;
  color: $light-color;
}