<div class="login-container">
  <h1>Login</h1>
  <h3> Welcome to ToDolphin! </h3>
  <form [formGroup]="loginForm" class="form-vertical" (submit)="login()">

    <div *ngIf="invalidLogin">
      {{error}}
    </div>

    <mat-form-field class="login-form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" class="form-control" formControlName="username" name="username" autofocus>
    </mat-form-field>

    <mat-form-field class="login-form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" class="form-control" formControlName="password" name="password">
    </mat-form-field>

    <button class="login-button" mat-raised-button color="primary" type="submit">Sign in</button>

  </form>
</div>