<div class="container col-sm-5">
  <h2 class="h2-margin">Login</h2>
  <h5 class="h5-margin"> Welcome to ToDolphin! </h5>
  <form [formGroup]="loginForm" class="form-horizontal" (submit)="login()">
    <div *ngIf="invalidLogin" class="alert alert-danger">
      {{error}}
    </div>

    <div class="form-group row">
      <label for="username" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="username" name="username" required autofocus>
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" formControlName="password" name="password" required>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>
  </form>
</div>