$dark-color: #121212;
$faded-color: #6d6d6d;
$light-color: #fafafa;
$highlight-color: #f1f3f2;
$separator-color: #c0c0c0;

$header-height: 3rem;
$header-padding: 1rem;
$header-height-with-padding: $header-height + (2 * $header-padding);

$desktop-content-width: 82rem;
$mobile-breakpoint: 768px;
$medium-breakpoint: 925px;
