.todo-card {
    width: 260px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}

.card-container-header {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}